<html  xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navigation(activeTab)">
    <nav class="fixed-top fh5co-nav" role="navigation">

        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="fh5co-logo"><a href="/"><i class="icon-study"></i>Educ<span>.</span></a></div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li  th:classappend="${activeTab == 'home' ? 'active' : ''}"><a href="index.html" th:href="@{/admin/index}">Home</a></li>
                            <li th:classappend="${activeTab == 'searchfoods' ? 'active' : ''}"><a href="searchfoods.html" th:href="@{/admin/searchfoods}">Search Foods</a></li>
                            <li th:classappend="${activeTab == 'blog' ? 'active' : ''}" class="has-dropdown">
                                <a href="">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="viewarticle.html" th:href="@{/admin/viewarticle}">View Article</a></li>
                                    <li><a href="submitarticle.html" th:href="@{/admin/submitarticle}">Submit Article</a></li>
                                </ul>
                            </li>
                            <li th:classappend="${activeTab == 'contact' ? 'active' : ''}"><a href="contact.html" th:href="@{/admin/contact}">Contact Us</a></li>
                            <li th:classappend="${activeTab == 'blog' ? 'active' : ''}" class="has-dropdown">
                                <a href=""><b th:inline="text" > [[${#httpServletRequest.remoteUser}]] </b></a>
                                <ul class="dropdown">
                                    <li><a href="viewarticle.html" th:href="@{/admin/viewarticle}">Edit Profile</a></li>
                                    <li>
                                        <form th:action="@{/app-logout}" method="POST">
                                            <input type="submit" value="Logout" style="background-color:#aa1122;" class="btn-cta"/>
                                        </form>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>

</div>

</html>