<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Education &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />


	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

		<!-- Animate.css -->
		<link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">

		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="../static/css/icomoon.css" th:href="@{/css/flexslider.css}">

		<!-- Bootstrap  -->
		<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

		<!-- Magnific Popup -->
		<link rel="stylesheet" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">

		<!-- Owl Carousel  -->
		<link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}">
		<link rel="stylesheet" href="../static/css/owl.theme.default.min.css" th:href="@{/css/owl.theme.default.min.css}">

		<!-- Flexslider  -->
		<link rel="stylesheet" href="../static/css/flexslider.css" th:href="@{/css/flexslider.css}">

		<!-- Theme style  -->
		<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

		<!-- Modernizr JS -->
		<script src="../static/js/modernizr-2.6.2.min.js" th:src="@{/js/modernizr-2.6.2.min.js}"></script>
		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
		<script src="../static/js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
		<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<div th:replace="fragment/navigation::navigation('contact')"></div>
	<div th:replace="fragment/loginmodal::loginmodal"></div>

	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">
					
					<div class="fh5co-contact-info">
						<h3>Contact Information</h3>
						<ul>
							<li class="address">198 West 21th Street, <br> Suite 721 New York NY 10016</li>
							<li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
							<li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li class="url"><a href="http://freehtml5.co">freeHTML5.co</a></li>
						</ul>
					</div>

				</div>
				<div class="col-md-6 animate-box">
					<h3>Get In Touch</h3>
					<form action="#">
						<div class="row form-group">
							<div class="col-md-6">
								<!-- <label for="fname">First Name</label> -->
								<input type="text" id="fname" class="form-control" placeholder="Your firstname">
							</div>
							<div class="col-md-6">
								<!-- <label for="lname">Last Name</label> -->
								<input type="text" id="lname" class="form-control" placeholder="Your lastname">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">Email</label> -->
								<input type="text" id="email" class="form-control" placeholder="Your email address">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="subject">Subject</label> -->
								<input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="message">Message</label> -->
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>

					</form>		
				</div>
			</div>
			
		</div>
	</div>

	<div th:replace="fragment/footer::footer"></div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js" th:src="@{/js/jquery.easing.1.3.js}"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js" th:src="@{/js/jquery.waypoints.min.js}"></script>
	<!-- Stellar Parallax -->
	<script src="../static/js/jquery.stellar.min.js" th:src="@{/js/jquery.stellar.min.js}"></script>
	<!-- Carousel -->
	<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
	<!-- Flexslider -->
	<script src="../static/js/jquery.flexslider-min.js" th:src="@{/js/jquery.flexslider-min.js}"></script>
	<!-- countTo -->
	<script src="../static/js/jquery.countTo.js" th:src="@{/js/jquery.countTo.js}"></script>
	<!-- Magnific Popup -->
	<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script src="../static/js/magnific-popup-options.js" th:src="@{/js/magnific-popup-options.js}"></script>
	<!-- Main -->
	<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
	</body>
</html>

