<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login form using HTML5 and CSS3</title>
  
  
  
      <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">

  
</head>

<body>
  <body>
<div class="container">
	<section id="content">
		<p th:if="${param.error}" class="error">
			Bad Credentials
		</p>
		<form th:action="@{/app-login}" method="POST">
			<h1>Login Form</h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" name="app_username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" name="app_password" />
			</div>
			<div>
				<input type="submit" value="Log in" />
				<a href="#">Lost your password?</a>
				<a href="register.html" th:href="@{/register}">Register</a>
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->
</body>
  
    <script src="../static/js/login.js" th:src="@{/js/login.js}"></script>

</body>
</html>
