<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login form using HTML5 and CSS3</title>
  
  
  
      <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">

  
</head>

<body>
  <body>
<div class="container">
	<section id="content">
		<form action="/register" th:object="${user}" method="POST" enctype="utf8">
			<h1>Registration Form</h1>
			<div>
				<input type="text" placeholder="FirstName" th:field="*{firstname}" required id="fname" />
				<p th:each="error: ${#fields.errors('firstname')}"
				   th:text="${error}">Validation error</p>
			</div>
			<div>
				<input type="text" placeholder="LastName" th:field="*{lastname}" required id="lname" />
				<p th:each="error: ${#fields.errors('lastname')}"
				   th:text="${error}">Validation error</p>
			</div>
			<div>
				<input type="text" placeholder="Email" th:field="*{email}" required id="email" />
				<p th:each="error: ${#fields.errors('email')}"
				   th:text="${error}">Validation error</p>
			</div>
			<div>
				<input type="text" placeholder="Username" th:field="*{username}" required id="username" />
				<p th:each="error: ${#fields.errors('username')}"
				   th:text="${error}">Validation error</p>
			</div>
			<div>
				<input type="password" placeholder="Password" required id="password" th:field="*{password}"/>
				<p th:each="error : ${#fields.errors('password')}"
				   th:text="${error}">Validation error</p>
			</div>
			<div>
				<input type="password" placeholder="Repeat Password" required id="password" th:field="*{matchingpassword}"/>
			</div>
			<div>
				<input type="submit" value="Register" />
				<a href="login.html" th:href="@{/login}">Back to login</a>
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->
</body>
  
    <script src="../static/js/login.js" th:src="@{/js/login.js}"></script>

</body>
</html>
