<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Education &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

		<!-- Animate.css -->
		<link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">

		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="../static/css/icomoon.css" th:href="@{/css/flexslider.css}">

		<!-- Bootstrap  -->
		<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

		<!-- Theme style  -->
		<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

		<!--Font Awesome-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Modernizr JS -->
		<script src="../static/js/modernizr-2.6.2.min.js" th:src="@{/js/modernizr-2.6.2.min.js}"></script>
		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
		<script src="../static/js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
		<![endif]-->

		<!--Food Search Style-->

	</head>
	<body onload="FoodGet('http://localhost:8082/api/v1/foods?size=40')">
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<div th:replace="fragment/navigation::navigation('blog')"></div>
	<div th:replace="fragment/loginmodal::loginmodal"></div>

		<!--Search Bar Starts-->

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div id="imaginary_container">
					<div class="input-group stylish-input-group">
						<input type="text" class="form-control"  placeholder="Search" id="searching" onkeyup="SearchTitle()">
						<span class="input-group-addon" style="padding: 0px">
                        <button onclick="SearchTitle()" >
                            <i class="fa fa-search fa-3x" aria-hidden="true" ></i>
                        </button>
                    </span>
					</div>
				</div>
			</div>
		</div>

		<br>

		<!--Search Bar Ends-->

		<!--Search Table-->
		<table id="foodtable" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<!-- Header Table -->
		</table>
	<!--Search Table End-->

			<div th:replace="fragment/footer::footer"></div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js" th:src="@{/js/jquery.easing.1.3.js}"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js" th:src="@{/js/jquery.waypoints.min.js}"></script>
	<!-- Stellar Parallax -->
	<script src="../static/js/jquery.stellar.min.js" th:src="@{/js/jquery.stellar.min.js}"></script>
	<!-- Carousel -->
	<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
	<!-- Flexslider -->
	<script src="../static/js/jquery.flexslider-min.js" th:src="@{/js/jquery.flexslider-min.js}"></script>
	<!-- countTo -->
	<script src="../static/js/jquery.countTo.js" th:src="@{/js/jquery.countTo.js}"></script>
	<!-- Magnific Popup -->
	<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script src="../static/js/magnific-popup-options.js" th:src="@{/js/magnific-popup-options.js}"></script>
	<!-- Main -->
	<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

	<!--Search Food-->
	<script>
        function FoodGet(urls) {
            $.ajax({
                type: 'GET',
            url:  urls,
            dataType: 'json',
            async: true,
            success: function(result) {
				$("#foodtable").empty();
                $('#foodtable').append("<tr>"+
                    "<th>Title</th>"
                    +"<th>Subtitle</th>"
                    +"<th>Calories</th>"
                    +"<th>Carbs</th>"
                    +"<th>Fats</th>"
                    +"<th>Fiber</th>"
                    +"</tr>" );

                for(var key in result._embedded.foods)
				{

                    $('#foodtable tr:last').after("<tr>aaa"+
						"<td>"+result._embedded.foods[key].title+"</td>"
						+"<td>"+result._embedded.foods[key].subtitle+"</td>"
						+"<td>"+result._embedded.foods[key].calories+"</td>"
						+"<td>"+result._embedded.foods[key].carbs+"</td>"
						+"<td>"+result._embedded.foods[key].fats+"</td>"
						+"<td>"+result._embedded.foods[key].fiber+"</td>"
						+"</tr>");
				}

				if(result._links.hasOwnProperty('next')) {
                    $("#foodtable tr:last").after(
                        '<button onclick=\'FoodGet('+JSON.stringify(result._links.next.href)+')\'>Next</button>'
                    );
                }


                if(result._links.hasOwnProperty('prev')) {
                    $("#foodtable tr:last").after(
                        '<button onclick=\'FoodGet('+JSON.stringify(result._links.prev.href)+')\'>Prev</button>'
                    );
                }



            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status + ' ' + jqXHR.responseText);
            }
        });
        }

        function SearchTitle() {
			var searched = document.getElementById("searching").value;
			var refinedsearch="http://localhost:8082/api/v1/foods/search/containsTitle?title="+ searched.trim();
			FoodGet(refinedsearch);
        }

	</script>
	</body>
</html>
